html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.burger-container {
  height: 46px;
  background-color: #181818;
  display: flex;
  width: 320px;
  position: relative;
  z-index: 1;
}
.burger-menu {
  background-color: #181818;
  cursor: pointer;
}

.burger-icon {
  background-color: #181818;
}

.menu {
  display: none;
  position: absolute;
  width: 320px;
  height: 100vh;
  top: 9px;
  z-index: 2;
  background-color: #272727;
  overflow: hidden;
}
.menu-list {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-left: 23px;
}
.menu-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;
}
.menu-item {
  margin-bottom: 27px;
}
.menu-href {
  text-decoration: none;
  color: #ffffff;
}
.menu-href:focus,
.menu-href:hover {
  color: #f4ce0c;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
}
/* ////////////////////////////////////////////////////// */

.hero {
  background-image: url("../images/rain_bk.png");
  position: absolute;
  min-height: 522px;
  width: 320px;
  /* height: 100vh; */
}
.title-second {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;

  margin-top: 27px;
}
.title-primary {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffc700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.btn-test {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0d0c11;
  border-radius: 20px;
  width: 189px;
  height: 41px;
  background-color: #ffc700;
  cursor: pointer;
}
.hero-text {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffc700;
  margin: 0px 34px;
  margin-top: 22px;
}
.hero-text-span {
  color: #ffffff;
}
.container-detail {
  margin-top: 11px;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 11px;
}
/* //////////////////////////////////////////////////////////// */

.about {
  background-image: url("../images/imageBGBlue.png");
  width: 320px;
  height: 339px;
  position: absolute;
  top: 575px;
}
.about-container {
  margin: 43px 29px 33px 24px;
}
.about-text {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 17px;
}
.about-svg {
  transform: translateX(240px);
}

/* ///////////////////////////////////////////////////////////// */
.inform {
  position: absolute;
  top: 917px;
  background-color: #f3f3f2;
  width: 320px;
}
.inform-container {
  margin: 38px 14px;
}

.inform-text {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #272727;
}
.text-span {
  text-transform: uppercase;
  font-weight: bold;
}
.text-span-little {
  font-weight: bold;
}
.inform-img {
  margin-top: 38px;
  text-align: center;
}
.inform-btn-container {
  margin-bottom: 40px;
  text-align: center;
}

/* /////////////////////////////////////////////////////// */
.test {
  background-image: url("../images/rain_bk2.png");
  position: absolute;
  min-height: 522px;
  width: 320px;
  top: 1450px;
}

.test-img-left {
  position: absolute;
  z-index: 1;
  bottom: 30px;
}

.test-img-right {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 45px;
}
.test-container {
  margin: 56px 14px 52px 14px;
}
.test-first-text {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 14px;
}
.test-span {
  color: #ffc700;
}
.test-second-text {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.05em;

  color: #181818;
  padding: 29px 15px 31px 14px;
}
.test-box {
  width: 303px;
  height: 235px;
  background-color: rgba(243, 243, 242, 0.8);
  border-radius: 20px;
  margin-bottom: 33px;
}
.test-second-span {
  font-weight: 700;
}
.test-btn-container {
  text-align: center;
  margin-bottom: 52px;
}
.btn {
  background-color: transparent;
  color: #ffffff;
}
.copy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 2.3;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 13px;
}

/* ///////////////////////////////////////////////// */
.section {
  max-width: 320px;
  background-image: url(../images/rain_bk2.png);
  position: absolute;
    max-height: 568px;
      
}
.section-question{
  margin-bottom: 25px;
}
/* .section-question{
  /* /* max-width: 320px;
  position: absolute;
    max-height: 568px; */
    /* height: 100vh; */
/* } */  
.section-question-age{
  display: none;
    margin-bottom: 25px;
}
.section-question-new{
  display: none;
    margin-bottom: 25px;
}
.img {
  background-color: transparent;
  width: 48px;
  height: 47px;
  margin-left: 9px;
}
.header-text {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffc700;
  text-align: center;
  margin-left: 9px;
  margin-top: 18px;
}
.progress-container{
margin: 17px 30px 0px 30px;
}
.progress-bar{
    width: 260px;
    height: 11px;
    background-color:#979797;
  border-radius: 5px;
}
.progress{
    height: 100%;
    background-color: #3BDE7C;
    border-radius: 5px;
    width:0%;
}
.question{
  font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.question-container{
  margin-top: 101px;
}
.question-container-age{
    margin-top: 65px;
}
.question-container-unnecessary{
  margin-top: 42px;
}
.select{
  background-color:rgba(242, 243,243, 0.15);

    width: 320px;
    height: 50px;
    font-family: 'PT Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 3.22;
      letter-spacing: 0.05em;
      margin-bottom: 8px;
      text-transform: capitalize;
      padding-left: 35px;
      
        color: #FFFFFF;
}
.select[type="radio"]:checked{
  background-color: #ffc700;
  color: black;
}

.select-container{
display: flex;
  flex-wrap: wrap;
  margin-top: 51px;
}

.select-input[type="radio"]{
  width:20px;
  height: 20px;
  margin-right: 39px;
  border-color: #FFFFFF;
  background-color: transparent;
}
.select-input[type="radio"]:checked{
background-color: #2950C2;
  border: 1px solid #272727;
}
.gender-btn-container {
  text-align: center;
  margin-top: 152px;
}
.btn-next {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color:#8E8E8E;
  width: 189px;
  height: 41px;
  cursor: pointer;
background-color: #DADADA;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.age-btn-container{
  text-align: center;
    margin-top: 103px;
}
.unnecessary-btn-container{
  text-align: center;
    margin-top: 35px;
}